body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  scroll-behavior: smooth;
}

section {
  padding-top: 70px;
}

.link-btn {
  background-color: #34b7a7;
  text-decoration: none;
  padding: 10px 25px;
  color: white;
  border-radius: 50px;
  outline: none;
  border: none;
}

.link-btn:hover {
  background-color: #6ad4c8;
  color: white;
}
